<content data-show="play">
	<canvas class="game-bg"></canvas>

	<div class="start-view">
		<h2>Voyager</h2>

		<div class="controls">
			<div class="row">
				<i class="key icon-arrow-right"></i>
				<i class="key icon-arrow-left"></i>
				<span>Move Horizontal</span>
			</div>
			<div class="row">
				<i class="key icon-arrow-up"></i>
				<span>Jump</span>
			</div>
			<div class="row">
				<i class="key icon-arrow-down"></i>
				<span>Shrink</span>
			</div>
			<div class="row">
				<i class="key icon-space"></i>
				<span>Boost</span>
			</div>

			<div class="row">
				<i class="key icon-p"></i>
				<span>Pause</span>
			</div>
			<div class="row">
				<i class="key icon-escape"></i>
				<span>New Game</span>
			</div>
		</div>

		<div class="options">
			<div class="row">
				<i class="icon-music"></i>
				<label for="music">Music</label>
				<span class="check-button" data-click="toggle-music">
					<input type="checkbox" id="music" checked/>
					<i></i>
				</span>
			</div>
			<div class="row">
				<i class="icon-sound-fx"></i>
				<label for="sound-fx">Sound FX</label>
				<span class="check-button" data-click="toggle-fx">
					<input type="checkbox" id="sound-fx"/>
					<i></i>
				</span>
			</div>
		</div>
	</div>

	<div class="countdown-view">
		<span class="tick-3">3</span>
		<span class="tick-2">2</span>
		<span class="tick-1">1</span>
	</div>

	<div class="game-view">
		<canvas class="gl-cvs"></canvas>
		<div class="hud">
			<div class="score">
				Score
				<span>0</span>
			</div>
			<div class="tokens">
				<span>0</span>
				<i class="icon-rotation"></i>
			</div>
		</div>
	</div>

	<div class="pause-view">
		<h2>Paused</h2>
	</div>

	<div class="over-view" data-click="goto-start">
		<h2>Game Over</h2>
		<h3>Best Score</h3>
	
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
	</div>

</content>
